<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust private limited</div>
        <div class="f-info-links">
            <a href="#">Terms of use</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>